<html lang="ja">
    <head>
        <title>Wadachi</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'brick_new' pk=bridgepk %}" class="top-menu">資料を登録</a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">ログイン</a>
            {% endif %}
            <h1><a href="/">トップページへ</a></h1>
        </div>

       
        <h1>{{ bridgetopic }}</h1>
        <h2>資料の一覧</h2>
        
        <table border="1">
            <th>タイトル</th>
            <th>Author</th>
            <th>URL</th>
            
            {% for brick in bricks %}
                <tr>
                    <td>{{ brick.title }}</td>
                    <td>{{ brick.author }}</td>
                    <td><a href="{{ brick.url }}">{{ brick.url }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
