<html>
    <head>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <!-- <a href="{% url 'bridge_new' %}" class="top-menu">投稿を作成</a> -->
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">ログイン</a>
            {% endif %}
            <h1><a href="/">トップページへ</a></h1>
        </div>

        <h2>New post</h2>
        <form method="POST" class="post-form">{% csrf_token %}
            <!-- formの内容をpタグで囲む -->
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </body>
</html>
